<div class="popUp">
  <form
    #updateForm="ngForm"
    class="popUp-form"
    (ngSubmit)="emitUpdateEvent(updateForm)"
  >
    <i class="far fa-window-close" (click)="emitCloseEvent()"></i>
    <h3 class="popUp-form-title">Update Item:</h3>
    <label for="name" class="label">Name:</label>
    <input
      type="text"
      name="name"
      id="name"
      class="input"
      required
      ngModel="{{ updateItemRef.name }}"
    />
    <p *ngIf="nameError" class="error-message">
      Please enter valid name with at least 3 characters
    </p>
    <label for="price" class="label">Price:</label>
    <input
      type="number"
      name="price"
      id="price"
      class="input"
      required
      ngModel="{{ updateItemRef.price }}"
    />
    <p *ngIf="priceError" class="error-message">Please enter valid price</p>
    <label for="count" class="label">Count:</label>
    <input
      type="number"
      name="count"
      id="count"
      class="input"
      required
      ngModel="{{ updateItemRef.count }}"
    />
    <p *ngIf="countError" class="error-message">Please enter valid count</p>
    <button class="button">Update</button>
  </form>
</div>
