<li class="list-item">
  <div class="tooltip">
    <i class="fas fa-pen" (click)="toggleUpdating()"></i>
    <span class="tooltiptext">Update Item</span>
  </div>
  <div class="item-info">
    <h2 class="title">{{ itemRef.name }}</h2>
    <p class="price">${{ itemRef.price.toFixed(2) }}</p>
    <p>{{ itemRef.count }}</p>
  </div>
  <app-add-update-form
    *ngIf="updating"
    [updateBool]="updating"
    [updateItemRef]="itemRef"
    (updateEvent)="updateInventory($event)"
    (updateCloseEvent)="toggleUpdating()"
  ></app-add-update-form>
  <div class="tooltip">
    <i class="fas fa-trash" (click)="emitDeleteEvent(itemRef)"></i>
    <span class="tooltiptext">Delete Item</span>
  </div>
</li>
