.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  margin: 0px 20px;
}

.search-options {
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.title {
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
}

.extra-form-options {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .form {
    margin: 0px 45px;
  }
  .search-options {
    flex-direction: row;
    justify-content: space-between;
  }
  .option {
    flex-direction: column;
    width: 30%;
    align-items: initial;
  }
}
